<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>query1</title>
    <style>
        body
        {
        background-repeat:no-repeat;
        background-attached:fixed;
        background-size:100%;
        background-image:url({{url_for('static',filename='dhl-logo.jpeg')}})
        }
    </style>
</head>
<body>Please specify the amount of MT data you want</h1>
<div align="center" style="margin-top: 40px;">
    <form name="query"     method="POST">
        Amount =<input type="text" placeholder="amount" name="amount" value="{{ var1  }}">     
        <input type="submit" value="Submit" οnclick="">
    </form>

</div>
{% if message %}
    <p style="color:red">{{ message }}</p>
    {% endif %}
</body>